/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-apr-2020, 17.56.07
    Author     : turco
*/

.VBox{
    -fx-background-image: url("../icons/sfondoLogin.jpg");
    -fx-background-size: 1080, 700;
}
