

.dialog-pane .button{
   -fx-background-color: #5EACE2;
   -fx-text-fill: #FFFFFF;
   -fx-cursor:hand;
   -fx-background-radius: 30;
   -fx-border-radius: 30;
   -fx-padding: 5;
 }
 
 .dialog-pane{
  -fx-border-color:#AFAFAF;
  -fx-border-width: 1;
 }


.dialog-pane > .content.label {
  -fx-background-color: white;
  -fx-text-fill:black;
  -fx-font-size:13.0px;
  -fx-alignment: center;
  -fx-font-family: Segoe UI;
}

.dialog-pane > .button-bar > .container {
  -fx-background-color:white;
}

.dialog-pane:header .header-panel {
  -fx-background-color: white;
}


.dialog-pane .button:hover{     
  -fx-background-color:#90C4E8;
  -fx-text-fill:white;
 }
 
 .root{
  -fx-background-color: #FFFFFF;     
 }